<!DOCTYPE html>
<html lang="en">

<head>
	<title>Nikolas Koether</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<script type="text/javascript" src="static/personal/js/bootstrap.min.js"></script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>
<body class="body" style="background-color:#f6f6f6" >
	<div class="fixed-top">
		<div>
			<div >
				<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
					<ul class="navbar-nav">
						<img src="{% static 'personal/img/{}.png' %}" class="responsive-img" style='max-height:40px;' alt="face">
						<li class="nav-item">
						  <a class="nav-link" href='/'>Home</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href='/blog/'>Blog</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href='/contact/'>Contato</a>
						</li>
					 </ul>
					 <button class="btn btn-success" onclick="window.location.href='/admin/'" style="position:absolute;right:0;">Login Admin</button>
				</nav>
			</div>
		</div>
		<div class="row ">
			<div class="col-sm-12" style="background-color:#f6f6f6">
				<br>
				<center>
				<h3>Nikolas Koether</h3> <hr>
				</center>
			</div>
		</div>
	</div>
	<br><br><br><br><br>
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
		  <div class="col-sm-12" style='padding-left:50px'>
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid fixed-bottom" style='margin-left:15px'>
			<p><a href="https://br.linkedin.com/in/nikolas-koether-86a05b134" target="blank">LinkedIn</a> | &nbsp<a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>