{% extends "personal/header.html" %}

{% block content %}
<div class="row">
	<div class="col-md-3">
		<p>Este site foi desenvolvido por Nikolas Koether com o objetivo do aprendizado de python em conjunto com o framework django, e bootstrap.</p> 
	</div>
	<div class="col-md-3">
		<div class="card">
		  <center>
			<img class="card-img-top" src="http://www.unixstickers.com/image/cache/data/stickers/django/django.sh-600x600.png" style="width:200px;height:200px;" alt="Card image cap">
		  </center>
		  <hr>
		  <div class="card-block">
			<p class="card-text" style="padding:10px;">Conheça mais sobre: <a href="https://www.djangoproject.com/" target="blank">Django</a></p>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card">
		  <center>
			<img class="card-img-top" src="https://getbootstrap.com/assets/img/bootstrap-stack.png" style="width:200px;height:200px;" alt="Card image cap">
		  </center>
		  <hr>
		  <div class="card-block">
			<p class="card-text" style="padding:10px;">Conheça mais sobre: <a href="https://getbootstrap.com/" target="blank">Bootstrap</a></p>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card">
		  <center>
			<img class="card-img-top" src="https://www.python.org/static/opengraph-icon-200x200.png" style="width:200px;height:200px;" alt="Card image cap">
		  </center>
		  <hr>
		  <div class="card-block">
			<p class="card-text" style="padding:10px;">Conheça mais sobre: <a href="https://www.python.org/" target="blank">Python</a></p>
		  </div>
		</div>
	</div>
</div>

{% endblock %}	